#nav-typefaces > * {
  background: var(--nd-color);
  padding: 0.1em 0.3em;
  margin: -0.1em -0.3em;
}
#nav-typefaces > *:last-child {
  text-align: right;
  float: right;
}

.canvas > div > div > img {
  height: 100%;
  user-select: none;
}

hr {
  background-color: var(--nd-color);
  height: 2px;
  border: 0;
}

article h1 {
  margin: 0.2rem 0;
}
article .pic-wrapper {
  margin-top: 1.5em;
  background: var(--nd-color);
}
article .pic-wrapper img {
  width: 100%;
  display: block;
}
article .pic-wrapper + em {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 0.8em;
  display: block;
}
article p {
  margin-top: 0;
  margin-bottom: 1em;
}
article a {
  text-decoration: underline;
  color: var(--nd-color);
}

@keyframes slide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 100px;
  }
}
#gallery {
  height: 50vh;
  white-space: nowrap;
  text-rendering: optimizeSpeed;
}
#gallery #nav {
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  font-size: 0;
}
@media (hover: hover) {
  #gallery #nav > * {
    position: relative;
    display: inline-block;
    width: calc(50%);
    height: 100%;
    cursor: url(arrow_left.svg) 0 50, w-resize;
  }
  #gallery #nav > *:last-child {
    cursor: url(arrow_right.svg) 127 50, e-resize;
  }
}
@media (hover: none) {
  #gallery #nav {
    pointer-events: none;
  }
  #gallery #nav.learning::after {
    font-size: 0;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: url("arrow_right.svg");
    background-position: right center;
  }
}
#gallery #pics {
  border: #000 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  height: 100%;
  display: block;
  overflow-x: scroll;
  font-size: 0;
}
#gallery #pics > * {
  margin-left: -1px;
  display: inline-block;
  width: auto;
  position: relative;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}
@media (hover: hover) {
  #gallery #pics {
    overflow: hidden;
  }
}
@media (hover: none) {
  #gallery #pics {
    overflow: scroll;
  }
}

.canvas-wrapper {
  box-sizing: content-box;
  display: block;
  overflow: hidden;
}

.canvas {
  display: block;
  position: relative;
}
.canvas > div {
  white-space: nowrap;
  height: 55px;
  line-height: 40px;
  position: relative;
}
.canvas > div > div {
  height: 100%;
  font-size: 55px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  z-index: 0;
}
.canvas > div > div[data-style]:hover {
  position: relative;
  background: var(--nd-color);
  padding: 0.5rem 1rem 0.2rem;
  margin: -0.5rem -1rem -0.2rem;
  z-index: 10;
}
.canvas > div > div[data-style]:hover::after {
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  content: attr(data-style);
  left: 0.5em;
  top: 0.8em;
  height: 100%;
  white-space: normal;
}
.canvas > div > div[data-style]:hover img {
  height: 100%;
  filter: invert(1);
}
.canvas img {
  height: 100%;
}

/*# sourceMappingURL=detail.css.map */
