:root {
    --nd-color: #00ff00;
}

body, html {
    font-family: Helvetica;
    font-size: 18px;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    &, *{
        padding: 0;
        margin: 0;
    }
}

article > *{
    max-width: 70ch;
}

* {
    position: relative;
    outline: none;
    box-sizing: border-box;
}

code {
    background: #bbb;
    padding: .1em;
    margin: -.1em
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: block;
    position: relative;
    width: 100%;
    z-index: 101;
    #logo {
        padding: .5em 0 .5em 0;
        font-size: 1.5rem;
        background: var(--nd-color);
        display: block;
        width: 100%;
        color: transparent;
        overflow: hidden;
        *[data-content] {
            &::after, &::before {
                color: black;
                animation: fall 5s cubic-bezier(.14,-.22,.55,-.07) infinite;
                animation-delay: .5s;
                content: attr(data-content);
                position: absolute;
                left: 0;
            }
            &::before {
                top: -50px;   
            }
        }
    }
}

nav, #nav {
    font-size: 1.5rem;
    > * {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#nav {
    padding-top: .5rem;
}

nav {
    width: 100%;
    z-index: 100;
    background: #fff;
    top: 0;
    padding-top: .5rem;
    margin-top: -.5rem;
    position: sticky;
    overflow: visible;
    border-bottom: var(--nd-color) 3px solid;
    padding-bottom: .5rem;
    a {
        padding: .1rem .3rem; 
        margin: -.1rem -.3rem; 
        background: var(--nd-color);
        z-index: 0;
    }
    > * > *{
        display: inline-block;
    }
}

main > *, article, nav > *, #nav, #logo > * {
    padding-left: 1rem;
    padding-right: 1rem;
}
main .canvas-wrapper {
    padding-left: 0;
    > div {
    
    padding-left: 1rem;
    }
}

.top {
    margin-top: 2rem;
}

.btm {
    margin-bottom: 2rem;
}

.strong, strong {
    font-weight: 900;
}

.hvr {
    cursor: pointer;
}

.ndclr {
    color: var(--nd-color);
}


$medium: 1080px;
$small: 500px;

@media screen and (min-width: $medium) {

    header {
        #logo > * {
            display: block;
        }
    }
    .entry.font {
        height: 100px;
    }
    main > *, article, nav > *, #nav, #logo > *{
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
    }

    main .canvas-wrapper {
        padding-left: 0;
        > div {
        padding-left: 3rem;
        padding-right: 3rem;    
        }
    }
}

@media screen and (max-width: $small) {

    .entry.font {
        height: 80px !important;
        padding: 1rem 0rem;
        .font-title {
            font-size: 60px;
        }
    }

    main > *, article, nav > *, #nav, #logo > *{
        padding-right: .5rem;
        padding-left: .5rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    main .canvas-wrapper {
        padding-left: 0;
        padding-right: 0;
        > div {
        padding-left: .5rem;
        }
    }
    nav, #nav, #logo {
        text-align: center;
        display: block;
    }

    .entry {
        > * {
            padding-left: .5rem !important;
            padding-right: .5rem !important;
        }
        &.font {
            height: 55px;   
        }
    }
}

@media (hover: hover) {
    #nav {
        a:hover {
            background: var(--nd-color);
        }
    }
    nav {
        a:hover {
            background: black;
            color: white;
        }
    }
    .entry {
        &.font {
            &:hover {
                background: var(--nd-color);
                padding-left: 2rem;
                & .date, & .info {
                    color: #fff;
                } 
            }
        }
        &.stuff {
            &:hover .date {
                color: white;
            }
        }
        &.stuff:hover > *:first-child{
            background: var(--nd-color);
        }
    }
}
