$small: 490px;
$medium: 900px;
:root {
    --nd-color: #0f0;
}

* {
    box-sizing: border-box;
    outline: none;
}
.top {
    margin-top: 3rem;
}

.btm {
    margin-bottom: 3rem;
} 

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 120%;
    min-height: 100vh;
}
a {
    color: #000;
}

header {
    margin-top: 3rem;
    top: 0;
    position: sticky;
    font-size: 1.5em;
    line-height: 110%;
    letter-spacing: -.015em;
    padding-bottom: 1em;
    background: #fff;
    border-bottom: 2px var(--nd-color) solid;
    a {
        color: inherit;
        text-decoration: none;
    }
    z-index: 10;
    > * {
        margin-left: 4rem;
    }
    a:not([id="logo"]):hover, div:last-child a {
        padding: .1em .4em;
        margin: -.1em -.4em;
    }
    a:hover {
        background: var(--nd-color);
    }
    div:last-child a {
        background: var(--nd-color);
        &:hover {
            background: #000;
            color: #fff;
        }
    }
    #logo {
        position: relative;
        overflow: hidden;
        display: inline-block;
        background: var(--nd-color);
        padding: 1em;
        box-sizing: content-box;
        &::after {
            content: "Jan Šindler";
            position: absolute;
            left: 1em;
            width: 100%;
            height: 100%;
            animation: roll 5s infinite;
            background: inherit;
        }
    }
}

main, article {
    padding: 0 4rem 4rem 4rem;
}

.entry {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 2px black;
    border-bottom-style: solid;
    transition: padding-left .15s ease-in;
    width: 100%;
    display: block;
    padding: 1em 0;
    height: 100px;
    em {
        color: var(--nd-color);
    }
    img {
        height: 100%;
        display: block;
    }
    &.hvr:hover, &.hvr:focus-within  {
        padding-left: 1em;
        margin-right: -1em;
        background: #0f0;
        em {
            color: #fff;
        }
    }
    .date {
        position: absolute;
        right: 0;
    }
}

#cv {
    > * {
        padding: .5em 0;
        &:first-child {
            display: inline-block;
        }   
    }
    
}

#index {
    align-items: stretch;
    width: 100%;
    flex-direction: row;
    > * {
        max-width: 100%;
    }
}

@keyframes roll {
    0% {
        transform: translateY(calc( -100% - 1em));
    }
    10% {
        transform: translateY(0);
    }
    100% {

    }
}

@media screen and (max-width: $small) {
    .btm {
        margin-bottom: 1em;
    }
    .top {
        margin-top: 1em;
    }
    main, article {
        padding: 0 .5rem .5rem .5rem;
    }
    header {
        margin: 0;
        #logo {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        a:hover{
            background: #fff;
        }
    }
    .entry {
        height: 50px;
    }
}