{% extends 'main.html' %}
{% block css %}
<link rel="stylesheet" href="{{root}}/css/detail.css">
    {% for css_link in font_info.css %}
        <link rel="stylesheet" href="{{root}}/{{css_link}}">
    {% endfor %}
{% endblock %}
{% block content %}
    <main>
    <h1 class="top">{{font_info["fontName"]}}
        {% if font_info["buy"] or font_info["try"] %}
        <a href="{{font_info.link}}" target="_blank" class="ndclr">
            <small>
                {% if font_info.try and font_info.buy %}
                    try & buy
                {% elif font_info.try%}
                    try
                {% else %}
                    buy
                {% endif %}
            </small>
        </a>
    {% endif %}
    </h1>

    <div id="nav-typefaces">
        <a href="../{{previous_typeface}}">previous – {{previous_typeface}}</a>
        <a href="../{{next_typeface}}">next – {{next_typeface}}</a>
    </div>
    <hr class="top">
    <div id="gallery" class="top btm">
        <div id="pics">
        {% for (type, entry) in slideshow %}
                {% if type == 'embed' %}
                    <div>{{entry}}</div>
                {% else %}
                    <img alt="An image inside slideshow number {{loop.index}}" height="50vh" width="auto" src="slideshow/{{entry}}">
                {% endif %}
        {% endfor %}
        </div>
        <div id="nav">
            <div onmouseover="move()" onmouseleave="out = true"></div>
            <div onmouseover="move()" onmouseleave="out = true"></div>
        </div>
    </div>
    <hr>
    <div class="canvas-wrapper">
        {% for style in font_info.styles %}
            <h2 class="top ndclr">
                {{ style }}
            </h2>
            <div>
                <div class="canvas" data-style="{{ style }}"></div>
            </div>
        {% endfor %}
    </div>
    <hr class="top">
    <article class="top">
        <h3 class="ndclr btm">Process</h3>
        {{text}}
    </article>
    </main>
    <script src="{{root}}/scripts/detail_script.js"></script>
    {% if images_data %}
        <script type=text/javascript>
            var images_data = {{images_data}}
        </script>
        <script src="{{root}}/scripts/fill_images.js"></script>
        {% endif %}
        {% if font_info.javascript %}
        <script src="{{root}}/{{font_info.javascript}}"></script>
        {% endif %}
{% endblock %}
