<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jan Šindler – type, code and stuff">
        <meta name="keywords" content="jansindler.com, Type, Jan, Šindler, Design, RoboFont, code, Czechia, Haag, Prague, Netherlands, KABK, Type and Media, TM, TM2020, Afrikola, Integra, rotor, variable, VTT, hinting">
        <meta name="title" content="Jan Šindler">
        <meta name="author" content="Jan Šindler">
        <meta name=”robots” content="index, follow">
        <meta name="theme-color" content="#00ff00">
        <link rel="stylesheet" href="{{ root }}/css/common.css">
        <link rel="stylesheet" href="{{ root }}/css/supply.css">
        <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico' />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://jansindler.com/">
        <meta property="og:title" content="Jan Šindler">
        <meta property="og:description" content="I do type, code and stuff!">
        <meta property="og:image" content="https://metatags.io/assets/meta_preview.svg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://jansindler.com/">
        <meta property="twitter:title" content="Jan Šindler">
        <meta property="twitter:description" content="I do type, code and stuff!">
        <meta property="twitter:image" content="https://metatags.io/assets/meta_preview.svg">
        
        {% block css %}
        {% endblock %}
        <title>Jan Šindler</title>
    </head>
    <body>
        <header>
            <a id="logo" class="strong" href="{{ root }}">
                <span><span data-content="Jan Šindler">Jan Šindler</span></span>
            </a>
            <div id="nav">
                <div>
                    <a href="mailto:jansindl3r@gmail.com" class="hvr">jansindl3r@gmail.com</a>
                </div>
                <div>
                    <a href="callto:00420606468660" class="hvr" id="phone"><em><span>00420</span><span>606</span><span>468</span><span>660</span></em></a>
                </div>
            </div>
        </header>
        <nav>
            <div>
                <a href="{{root}}#cv">I</a> do <a href="{{root}}#type">type</a> and <a href="{{root}}#stuff">stuff</a>
            </div>
        </nav>

        {% block content %}{% endblock %}
        <div class="btm"></div>
        
    </body>
</html>
